<footer class="footer" style="position: fixed;left: 250px;bottom: 0;width: 100%;background-color: white;color: white;text-align: center; padding: 1rem 0 1rem 1rem;">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://www.texussolutions.com" class="font-weight-bold ml-1 text-custom" target="_blank">Texus Solutions,</a>
        <a href="" class="text-custom"> all rights reserved.</a>
      </div>
    </div>
  </div>
</footer>
