<div>
  <div *ngIf="selectedImage" class=" row justify-content-center image-preview-container">
    <div [ngStyle]="{'backgroundImage': 'url('+ selectedImage.src+ ')' }"
         class="image-preview">
    </div>
  </div>

  <div *ngIf="!selectedImage" class="row justify-content-center image-preview-container">
    <div [ngStyle]="{'backgroundImage': 'url('+ '../../../assets/img/theme/empty_propic.png' +')' }"
         class="image-preview">
    </div>
  </div>

  <div class="row justify-content-center">
    <label class="btn btn-default btn-sm image-upload-container">
      <span>Select Image</span>
      <input
        #imageInput
        (change)="processImage(imageInput)"
        accept="image/*"
        type="file">
    </label>
  </div>
</div>
