<div class="header bg-gradient-custom pb-8 pt-5">
</div>
<div class="container-fluid mt--7">
  <div class=" col-lg-6 col-7">
    <h6 class=" h2 text-white d-inline-block mb-0">Google maps</h6>
  </div>
    <div class="col-xl-12">
      <div class="row">
        <div class="col">
          <div class="card shadow border-0">
            <div id="map-canvas" class="map-canvas" data-lat="6.036736" data-lng="80.303030"
                 style="height: 750px;"></div>
          </div>
        </div>
      </div>
    </div>
</div>
