<div class="header bg-gradient-custom pb-8 pt-5"></div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Create Attractions</h3></div>
        <div class=" card-body">
          <form (ngSubmit)="saveAttractions()" _lpchecked="1" class="ng-untouched ng-pristine ng-valid" novalidate="">
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-user"></i></span></div>
                    <input [(ngModel)]="attraction.name" class=" form-control" name="attractionName" placeholder="Attractions name"
                           type="text">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-images"></i></span></div>
                    <input [(ngModel)]="attraction.coverImage" class=" form-control" name="coverImage" placeholder="Cover Image"
                           type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tag"></i></span></div>
                    <input [(ngModel)]="attraction.hashTag" class=" form-control" name="hashTag" placeholder="Hashtag"
                           type="text">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tags"></i></span></div>
                    <input [(ngModel)]="attraction.tags" class="form-control" name="tags" placeholder="Tags"
                           type="text"></div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tags"></i></span></div>
                    <input [(ngModel)]="attraction.interestTags" class="form-control" name="interestTags" placeholder="Interest Tags"
                           type="text"></div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-highlighter"></i></span></div>
                    <input [(ngModel)]="attraction.informationLevel" class=" form-control" name="informationLevel" placeholder="Information Level"
                           type="number">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-map-marker-alt"></i></span></div>
                    <input [(ngModel)]="coordinates.longitude" class=" form-control" name="longitude" placeholder="Longitude"
                           type="number">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-map-marker"></i></span></div>
                    <input [(ngModel)]="coordinates.latitude" class="form-control" name="latitude" placeholder="Latitude"
                           type="number">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <textarea [(ngModel)]="attraction.overview" class=" form-control" name="overview" placeholder="Overview"
                              style="height: 100px"
                              type="text"></textarea>
                    <div class="input-group-append"><span class=" input-group-text"><i
                      class=" fas fa-prescription-bottle"></i></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <textarea [(ngModel)]="attraction.description" class=" form-control" name="description" placeholder="Description"
                              style="height: 100px"
                              type="area"></textarea>
                    <div class="input-group-append"><span class=" input-group-text"><i
                      class=" fas fa-prescription-bottle"></i></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button (click)="cancel()" class="btn btn-sm btn-danger" type="button">Cancel</button>
              <button *ngIf="isNew" class="btn btn-sm btn-success" type="submit">Save</button>
              <button *ngIf="!isNew" class="btn btn-sm btn-warning" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">All Attractions</h3>
            </div>
            <div class="col text-right">
              <a class="btn btn-sm btn-success" href="#!">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">&nbsp;</th>
              <th scope="col">Attractions name</th>
              <th scope="col">Info Level</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attraction of attractions">
              <th>
                <img [src]="attraction.coverImage" alt="Image placeholder"
                     style="border-radius: 10% !important; width: 55px;height: 45px;">
              </th>
              <th scope="row">{{attraction.name}}</th>
              <td>{{attraction.informationLevel}}</td>
              <td>
                <span [ngClass]="attraction.status === 'ACTIVE'? 'btn-success': attraction.status === 'INACTIVE'? 'btn-warning': 'btn-danger' "
                      class="btn btn-sm">{{attraction.status}}</span>
              </td>
              <td>
                <i (click)="edit(attraction)" class="fas fa-edit text-warning mr-3"></i>
                <i class="fas fa-trash text-danger mr-3"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
