<div class="header bg-gradient-custom pb-8 pt-5"></div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Create Attractions</h3></div>
        <div class=" card-body">
          <form novalidate="" (ngSubmit)="saveAttractions()" class="ng-untouched ng-pristine ng-valid" _lpchecked="1">
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-user"></i></span></div>
                    <input class=" form-control" placeholder="Attractions name" type="text" name="attractionName"
                           [(ngModel)]="attraction.name">
                  </div>
                  </div>
                </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-images"></i></span></div>
                    <input class=" form-control" placeholder="Cover Image" type="text" name="coverImage"
                           [(ngModel)]="attraction.coverImage">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tag"></i></span></div>
                    <input class=" form-control" placeholder="Hashtag" type="text" name="hashTag"
                           [(ngModel)]="attraction.hashTag">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tags"></i></span></div>
                    <input class="form-control" placeholder="Tags" type="text" name="tags"
                           [(ngModel)]="attraction.tags"></div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tags"></i></span></div>
                    <input class="form-control" placeholder="Interest Tags" type="text" name="interestTags"
                           [(ngModel)]="attraction.interestTags"></div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-highlighter"></i></span></div>
                    <input class=" form-control" placeholder="Information Level" type="number" name="informationLevel"
                           [(ngModel)]="attraction.informationLevel">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-map-marker-alt"></i></span></div>
                    <input class=" form-control" placeholder="Longitude" type="number" name="longitude"
                           [(ngModel)]="coordinates.longitude">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class="fas fa-map-marker"></i></span></div>
                    <input class="form-control" placeholder="Latitude" type="number" name="latitude"
                           [(ngModel)]="coordinates.latitude">
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <textarea class=" form-control" style="height: 100px" placeholder="Overview" type="text"
                           name="overview"
                           [(ngModel)]="attraction.overview"></textarea>
                    <div class="input-group-append"><span class=" input-group-text"><i
                      class=" fas fa-prescription-bottle"></i></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <textarea class=" form-control" style="height: 100px" placeholder="Description" type="area"
                           name="description"
                           [(ngModel)]="attraction.description"></textarea>
                    <div class="input-group-append"><span class=" input-group-text"><i
                      class=" fas fa-prescription-bottle"></i></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-danger" type="button" (click)="cancel()">Cancel</button>
              <button *ngIf="isNew"class="btn btn-sm btn-success" type="submit">Save</button>
              <button *ngIf="!isNew" class="btn btn-sm btn-warning" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">All Attractions</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-success">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">&nbsp;</th>
              <th scope="col">Attractions name</th>
              <th scope="col">Info Level</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attraction of attractions">
              <th>
                <img alt="Image placeholder" style="border-radius: 10% !important; width: 55px;height: 45px;" [src]="attraction.coverImage">
              </th>
              <th scope="row">{{attraction.name}}</th>
              <td>{{attraction.informationLevel}}</td>
              <td>
                <span class="btn btn-sm"
                      [ngClass]="attraction.status === 'ACTIVE'? 'btn-success': attraction.status === 'INACTIVE'? 'btn-warning': 'btn-danger' ">{{attraction.status}}</span>
              </td>
              <td>
                <i class="fas fa-edit text-warning mr-3" (click)="edit(attraction)"></i>
                <i class="fas fa-trash text-danger mr-3"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
