/* You can add global styles to this file, and also import other style files */
a.section-darker:hover,
a.section-darker:focus,
button.section-darker:hover,
button.section-darker:focus {
  background-color: black !important;
}

.bg-gradient-custom {
  background: linear-gradient(87deg, #1ecbc1 0, #02ef82 100%) !important
}

.text-custom {
  color: #1ecbc1 !important;
}
