<div class="header bg-gradient-custom pb-8 pt-5"></div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div *ngIf="viewCreate" [ngClass]="viewCreate === true ? 'col-xl-4': 'col-xl-0'">
      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Create Activity</h3></div>
        <div class=" card-body">
          <form _lpchecked="1" class="ng-untouched ng-pristine ng-valid" novalidate="">
            <div class=" row">
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-user"></i></span></div>
                    <input class=" form-control" placeholder="Country name" type="text">
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <div class=" input-group input-group-merge">
                    <div class=" input-group-prepend"><span class=" input-group-text"><i
                      class=" fas fa-tags"></i></span></div>
                    <input class="form-control" placeholder="Tags" type="email"></div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <input class=" form-control" placeholder="Description" style="height: 100px" type="text">
                    <div class="input-group-append"><span class=" input-group-text"><i
                      class=" fas fa-prescription-bottle"></i></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-danger" (click)="cancel()" type="button">Cancel</button>
              <button class="btn btn-sm btn-success" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div [ngClass]="viewCreate === false ? 'col-xl-12 mb-5 mb-xl-0': 'col-xl-8 mb-5 mb-xl-0'">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">All Activities</h3>
            </div>
            <div class="col text-right">
              <button (click)="createViewer()" class="btn btn-sm btn-default" type="button">Create</button>
              <a class="btn btn-sm btn-success" href="#!">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Activity name</th>
              <th scope="col">Tag</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!--            <tr>-->
            <!--              <th scope="row">-->
            <!--                Sri Lanka-->
            <!--              </th>-->
            <!--              <td>-->
            <!--                #Srilanka-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                Sri Lanka, officially the Democratic..-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <span class="btn btn-sm btn-success">ACTIVE</span>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <i class="fas fa-edit text-warning mr-3"></i>-->
            <!--                <i class="fas fa-trash text-danger mr-3"></i>-->
            <!--              </td>-->
            <!--            </tr>-->
            </tbody>
          </table>
          <div class="card-footer py-3">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a (click)="previousClick()" class="page-link" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li *ngFor='let index of pageIndexes' [ngClass]="active(index)" class="page-item ">
                <a (click)="getPaginationWithIndex(index)" class="page-link">{{index + 1}}</a>
              </li>
              <li class="page-item">
                <a (click)="nextClick()" class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
